<%= javascript_pack_tag "admin_upload_reports" %>

<div class="container-fluid">
  <h1>Upload report as admin</h1>

  <div class="mt-4 mb-4">
    <% @reports.each do |report| %>
      <%= report_data_storage(report) %>
    <% end %>

    <h3>Report example</h3>
    <p id='quick-report'></p>
    <div class="p-3 mb-2 bg-light text-dark">
      <samp>

      </samp>
    </div>
  </div>

  <%= simple_form_for(:report_upload, url: report_uploads_path) do |f| %>
    <%= f.hidden_field :admin, value: true %>

    <div class="form-group">
      <%= f.input :year, as: :radio_buttons, collection: [Date.today.year, Date.today.year - 1], checked: params[:year] || Date.today.year, label: 'Year of report' %>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <%= f.input :partner_id, collection: @partners_select, class: 'form-control', prompt: 'Select partner', label: false, selected: params[:partner_id] %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <div class="custom-file">
            <%= f.file_field :file, label: 'Report', class: 'custom-file-input form-control-md' %>
            <%= f.label :file, 'Choose file', class: 'custom-file-label' %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Upload', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
