<!DOCTYPE html>
<html>
  <head>
    <title>RV Care</title>
    <%= render 'layouts/partials/head' %>
    <%= yield :head %>
  </head>
  <body class="c-app">
    <%= render "layouts/partials/navigation" %>
    <div class="c-wrapper">
      <header class="c-header site-header">
        <nav class="navbar navbar-light" role="navigation">
          <button class="c-header-toggler c-class-toggler" type="button" data-target="#sidebar" data-class="c-sidebar-show">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="c-header-nav">
            <a class="navbar-brand" href="#">
              <%= image_tag 'logo-header.png', width: 53, height: 53 %>
              <span class="site-title">RV Care</span>
            </a>
          </ul>
        </nav>
      </header>
      <div class="c-body">
        <main class="main">
          <%= yield :top_menu %>
          <div class="flash_messages">
            <%= render partial: "layouts/partials/flashes", locals: { flash: flash } %>
          </div>
          <div class="container-fluid">
            <%= yield %>
          </div>
        </main>
      </div>
      <footer class="c-footer">
        <strong>
          <span>©</span>
          <%= Date.today.strftime("%Y") %>
          RV Care
        </strong>
        <div class="ml-auto">
          <%= app_version %>
        </div>
      </footer>
    </div>
  </body>
</html>
